/* XL Device :1200px. */
@media (min-width: 1300px) and (max-width: 1449px) {

    /* Hero Area Start*/

    .hero-circle-sticky {
        left: 30%;
    }

    /* Hero Area End*/

    /* Testemonials Area End  */

    .testemonials_area .owl-carousel .owl-prev {
        left: -3% !important;
    }

    .testemonials_area .owl-carousel .owl-next {
        right: -3% !important;
    }

    /* Testemonials Area Start  */

}




@media (min-width: 1200px) and (max-width: 1300px) {

   /* Hero Area Start*/

   .hero-circle-sticky {
        left: 29%;
    }

    /* Hero Area End*/

    /* Testemonials Area End  */

    .testemonials_area .owl-carousel .owl-prev {
        left: 0% !important;
    }

    .testemonials_area .owl-carousel .owl-next {
        right: 0% !important;
    }

    /* Testemonials Area Start  */
    

}


/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {

    h4 {
        font-size: 14px;
    }

    /* Hero Area Start*/

   .hero-circle-sticky {
        left: 27%;
    }

    /* Hero Area End*/

    /* Portfolio Area Start */

    .portfolio_card-wraper {
        gap: 24px;
    }
    
    /* Portfolio Area End */

    /* Testemonials Area Start  */

    .testemonials_area .owl-carousel .owl-prev {
        left: 0% !important;
    }

    .testemonials_area .owl-carousel .owl-next {
        right: 0% !important;
    }

    /* Testemonials Area End  */

    /*  Inspiration Area Start */

    .inspiration_card-wraper {
        gap: 24px;
    }

    /*  Inspiration Area End */


}


/* Tablat Device */
@media (min-width: 767px) and (max-width: 992px) {

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 14px;
    }

    .common_btn {
        font-size: 14px;
        padding: 0 45px;
        height: 45px;
    }

    /* Header Area Start */

    .header_logo {
        width: 119px;
        height: 36px;
    }

    nav {
        top: 24px;
    }

    .menu li a {
        font-size: 16px;
    }

    .nav_right .common_btn {
        height: 42px;
    }

    /* Header Area End */

    /* Hero Area Start */

    .hero_area {
        padding: 125px 0 0 0;
    }

    .hero-circle-sticky {
        left: 27%;
        width: 100px;
    }

    .hero_content {
        padding: 0;
        padding-bottom: 70px;
    }

    .hero_content .hero_tag {
        font-size: 16px;
    }

    .hero_btn-wraper {
        display: flex;
        gap: 15px;
        margin-top: 22px;
    }

    /* Hero Area End */

    /* About Area Start */

    .about_success .count_text {
        font-size: 48px;
    }

    .about_success p {
        width: 100%;
    }

    /* About Area End */

    /* Services Area Start */


    .services_card-wraper {
        grid-template-columns: repeat(2,1fr);
    }

    .services_card {
        text-align: center;
    }

    /* Services Area End */

    /* Portfolio Area Start */

    .portfolio_card-wraper {
        gap: 24px;
        grid-template-columns: repeat(2,1fr);
    }

    .portfolio_card-image {
        width: 100%;
        height: 100%;
    }
    
    /* Portfolio Area End */

    /* Skill Area Start */

    .skill-area {
        padding: 70px 0;
    }

    .skill-area_card-wraper {
        gap: 70px;
    }

    /* Skill Area End */

    /*  Testemonials Area Start */

    .testemonials_area {
        padding: 42px 0 50px 0;
    }

    .testemonials_area .owl-carousel .owl-prev {
        left: 0% !important;
    }

    .testemonials_area .owl-carousel .owl-next {
        right: 0% !important;
    }

    .client_avater {
        width: 58px;
        height: 58px;
    }

    /*  Testemonials Area End */

    /*  Inspiration Area Start */

    .inspiration-area {
        padding: 60px 0;
    }

    .inspiration_card-wraper {
        grid-template-columns: repeat(2,1fr);
        gap: 24px;
    }

    /*  Inspiration Area End */

    /*  Contact Area Start */

    .contact_area {
        padding: 50px 0;
    }

    .contact-circle-sticky {
        height: 163px;
    }

    /*  Contact Area End */

    /* Footer Area Start */

    .footer_logo {
        margin: 0 120px;
        flex-shrink: 0;
        width: 124px;
        height: 42px;
    }

    /* Footer Area Start */

}

/* SM Small Device :320px. */
@media only screen and (max-width: 766.99px) {

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 14px;
    }

    .similar_title p {
        width: 100%;
        margin: auto;
    }

    .common_btn {
        font-size: 14px;
        padding: 0 45px;
        height: 45px;
    }

    /* Header Area Start */

    .header_logo {
        width: 119px;
        height: 36px;
    }

    nav {
        top: 24px;
    }

    nav .col-0.col-md-6 {
        display: none;
    }

    .menu li a {
        font-size: 16px;
    }

    .nav_right .common_btn {
        height: 42px;
    }

    .nav_trigger {
        display: block;
    }

    /* Header Area End */

    /* Hero Area Start */

    .hero_area {
        padding: 125px 0 0 0;
    }

    .hero-circle-sticky {
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
    }

    .hero_content .hero_tag {
        font-size: 16px;
    }

    .hero_content {
        padding: 0;
        padding-bottom: 50px;
        text-align: center;
    }

    .hero_btn-wraper {
        display: flex;
        gap: 15px;
        margin-top: 22px;
        justify-content: center;
    }

    .hero_image {
        width: 75%;
        height: 100%;
        margin: auto;
    }

    /* Hero Area End */

    /* About Area Start */

    .about_area {
        padding: 40px 0 55px 0;
    }

    .about_success .count_text {
        font-size: 28px;
    }

    .about_success p {
        width: 100%;
        font-size: 12px;
    }

    /* About Area End */

    /* Services Area Start */

    .services-area {
        padding: 50px 0;
    }

    .services_card-wraper {
        grid-template-columns: repeat(1,1fr);
    }

    .services_card {
        text-align: center;
    }

    /* Services Area End */

    /* Portfolio Area Start */

    .portfolio_card-wraper {
        gap: 24px;
        grid-template-columns: repeat(1,1fr);
    }

    .portfolio_card-image {
        width: 100%;
        height: 100%;
    }
    
    /* Portfolio Area End */

    /* Skill Area Start */

    .skill-area {
        padding: 50px 0;
    }

    .skill-area_card-wraper {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    /* Skill Area End */

    /*  Testemonials Area Start */

    .testemonials_area {
        padding: 42px 0 70px 0;
    }

    .testemonials_card p {
        width: 100%;
        margin: auto;
    }

    .testemonials_area .owl-carousel .owl-prev {
        bottom: -70%;
        left: 45% !important;
        transform: translateX(-50%);
    }

    .testemonials_area .owl-carousel .owl-next {
        bottom: -70%;
        right: 45% !important;
        transform: translateX(50%);
    }

    .client_avater {
        width: 48px;
        height: 48px;
    }

    /*  Testemonials Area End */

    /*  Inspiration Area Start */

    .inspiration-area {
        padding: 60px 0;
    }

    .inspiration_card-wraper {
        grid-template-columns: repeat(1,1fr);
        gap: 24px;
    }

    /*  Inspiration Area End */

    /*  Contact Area Start */

    .contact_area {
        padding: 50px 0;
    }

    .contact-circle-sticky {
        height: 163px;
    }

    /*  Contact Area End */

    /* Footer Area Start */

    footer {
        padding: 60px 0;
    }

    .footer_logo {
        margin: 0;
        flex-shrink: 0;
        width: 124px;
        height: 42px;
    }

    .footer_menu{
        flex-direction: column;
    }

    /* Footer Area Start */
 
}

/* LandScape Mobail device */
@media (min-width: 575px) and (max-width: 768px) {

    h3 {
        font-size: 18px;
    }

    /* Services Area Start */

    .services_card-wraper {
        grid-template-columns: repeat(2,1fr);
    }

    /* Services Area End */

    /* Portfolio Area Start */

    .portfolio_card-wraper {
        gap: 24px;
        grid-template-columns: repeat(2,1fr);
    }

    /* Portfolio Area End */

    /* Footer Area Start */

    .footer_menu {
        flex-direction: row;
    }

    /* Footer Area End */
}