/* Instrument+Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
    font-family: var(--primary-font);
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

a, button, input, textarea{
    outline: none !important;
}

.container{
    max-width: 1150px;
    width: 100%;
    margin: auto; 
}

:root{
    --primary-color: #FF4400;
    --body-color: #0F0F10;
    --white-color: #fff;
    --text-color: #7A7A7A;
    --black-color: #000;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-650: 650;
    --weight-700: 700;
    --primary-transition: .3s ;
    --border: 2px solid #EAE9E9;
}

p {
    font-size: 18px;
    font-weight: var(--weight-450);
    color: var(--text-color);
    font-family: var(--primary-font);
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--secondry-font);
    color: var(--body-color);
}

h1 {
    font-size: 56.55px;
    font-weight: var(--weight-600);
    line-height: 1.1;
    margin-bottom: 44px;
}

h2 {
    font-size: 42px;    
    font-weight: var(--weight-600);
}

h3 {
    font-size: 34px;
}

h4 {
    font-size: 26px;
    font-weight: var(--weight-600);
}

h5 {
    font-size: 22px;
    font-weight: var(--weight-600);
}

/* primary-btn */

.common-btn{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 24px;
    height: 56px;
    border-radius: 36px;
    font-size: 18px;
    font-weight: var(--weight-700);
    font-family: var(--primary-font);
    color: var(--white-color);
    background-color: var(--primary-color);
    text-decoration: none;
    transition: var(--primary-transition);
    border: 2px solid transparent;
}

.common-btn i{
    transform: rotate(-40deg);
    transition: var(--primary-transition);
}

.common-btn:hover{
    color: var(--black-color);
    background-color: transparent;
    border: var(--border);
}

.common-btn:hover i{
    transform: rotate(0deg);
}

